/.idea
/.dapper
/.cache
/.trash-cache
/bin/
/dist/
/build/
*.swp
/.bash_history
/.docker/

# Packer and vagrant
.vagrant/
packer_cache/
*.box
.env
tmp/k3os-master1-config.yaml
tmp/k3os-worker-config.yaml
tmp/k3os-*-config.yaml