set default=0
set timeout=10

set gfxmode=auto
set gfxpayload=keep
insmod all_video
insmod gfxterm

menuentry "k3OS LiveCD & Installer" {
  search.fs_label K3OS root
  set sqfile=/k3os/system/kernel/current/kernel.squashfs
  loopback loop0 /$sqfile
  set root=($root)
  linux (loop0)/vmlinuz printk.devkmsg=on k3os.mode=live console=ttyS0 console=tty1
  initrd /k3os/system/kernel/current/initrd
}

menuentry "k3OS Installer" {
  search.fs_label K3OS root
  set sqfile=/k3os/system/kernel/current/kernel.squashfs
  loopback loop0 /$sqfile
  set root=($root)
  linux (loop0)/vmlinuz printk.devkmsg=on k3os.mode=install k3os.install.power_off=true console=ttyS0 console=tty1
  initrd /k3os/system/kernel/current/initrd
}

menuentry "k3OS Installer Master" {
  search.fs_label K3OS root
  set sqfile=/k3os/system/kernel/current/kernel.squashfs
  loopback loop0 /$sqfile
  set root=($root)
  linux (loop0)/vmlinuz printk.devkmsg=on k3os.install.config_url=/usr/share/rancher/k3os/scripts/k3os-master-config.yaml k3os.install.power_off=true k3os.mode=install k3os.install.silent k3os.install.device=/dev/sda console=ttyS0 console=tty1
  initrd /k3os/system/kernel/current/initrd
}

menuentry "k3OS Installer Worker" {
  search.fs_label K3OS root
  set sqfile=/k3os/system/kernel/current/kernel.squashfs
  loopback loop0 /$sqfile
  set root=($root)
  linux (loop0)/vmlinuz printk.devkmsg=on k3os.install.config_url=/usr/share/rancher/k3os/scripts/k3os-worker-config.yaml k3os.install.power_off=true k3os.mode=install k3os.install.silent k3os.install.device=/dev/sda console=ttyS0 console=tty1
  initrd /k3os/system/kernel/current/initrd
}

menuentry "k3OS Rescue Shell" {
  search.fs_label K3OS root
  set sqfile=/k3os/system/kernel/current/kernel.squashfs
  loopback loop0 /$sqfile
  set root=($root)
  linux (loop0)/vmlinuz printk.devkmsg=on rescue console=ttyS0 console=tty1
  initrd /k3os/system/kernel/current/initrd
}
